<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.XNChatDemo3"
    android:versionCode="1"
    android:versionName="1" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="23" />
    <!-- ***************************小能SDK所需要的权限 ********************* -->
        <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- ***************************小能SDK所需要的权限 ********************* -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@android:style/Theme.NoTitleBar" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="TXhUWbq7k8y7v4dWgKtY3nXn" />

        <activity
            android:name="cn.xiaoneng.demo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 我的jar包所需要的配置 -->


        <!-- ***************************小能SDK所需要Activity和Service ********************* -->
        <activity
            android:name="cn.xiaoneng.demo.Home"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="cn.xiaoneng.activity.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.xiaoneng.activity.LeaveMsgActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.xiaoneng.activity.ShowCameraActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation|layoutDirection|touchscreen|locale|mnc|mcc|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogTopRight" >
        </activity>
        <activity
            android:name="cn.xiaoneng.activity.ShowAlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="cn.xiaoneng.activity.ValuationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/valuationdialog" >
        </activity>
        <activity
            android:name="cn.xiaoneng.activity.ShowPictureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="cn.xiaoneng.activity.XNExplorerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
         <activity
            android:name="cn.xiaoneng.video.VideoPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="cn.xiaoneng.video.RecordVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="cn.xiaoneng.video.XNVideoPlayer"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
        <!-- ***************************小能SDK所需要Activity和Service ********************* -->
        <activity
            android:name="cn.xiaoneng.demo.WebContentActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_web" >
        </activity>
        <activity
            android:name="cn.xiaoneng.h5_sdk.MainContentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="cn.xiaoneng.demo.DemoActivity"
			android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
		<activity
            android:name="cn.xiaoneng.demo.SettingListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- ***************************小能SDK可以传入的Activity********************* -->
    </application>

</manifest>