<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yiqiao.cpmanager"
    tools:overrideLibrary="ezy.boost.update">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- ***************************小能SDK所需要的权限 ********************* -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- ***************************小能SDK所需要的权限 ********************* -->
    <meta-data
        android:name="com.baidu.lbsapi.API_KEY"
        android:value="ySqKCpnikEr4IumBeBXgeLLCDeXKtUul" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        //主类
        <activity android:name=".ui.activity.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.GuidePageActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.yiqiao.cpmanager.ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.PayByAccountActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.MyOrderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.MyChargeBackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.MyCouponActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.MyCreditActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.MyInvoiceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.MyLuckyMoneyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.TaskCenterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.FeedBackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.ActivityDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.ActivityNoticeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.AddInvoiceHeadActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.AddReceiverActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.CopyrightsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.CpDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.CpNameCheckActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.DoInvoice1Activity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.DoInvoice2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.DoInvoice3Activity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.GoodsDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.InvoiceDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.InvoicePresetActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.ModifyPwdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.CpServiceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.OrderDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.NoticeCenterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.SearchCpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.SearchCpHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.SearchTradeMarkActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.SearchSpuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.ConfirmOrderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.CouponChooseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.SystemNoticeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.StartServiceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.ServiceNoticeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.ServiceDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.QualificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.PayResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.CreditRuleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.SearchTradeMarkHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.ToplineActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.HotInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.HomeSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.RegistCodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.RegistPhoneActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.RegistPwdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.FindPwdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.CityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.AgreementActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yiqiao.cpmanager.ui.activity.StoreChooseActivity"
            android:screenOrientation="portrait"/>


        <!-- ***************************小能SDK所需要Activity和Service ********************* -->
        <!--  <activity
             android:name="cn.xiaoneng.activity.ChatActivity"
             android:launchMode="singleTask"
             android:screenOrientation="portrait"
             android:theme="@android:style/Theme.NoTitleBar" />
         <activity
             android:name="cn.xiaoneng.activity.LeaveMsgActivity"
             android:launchMode="singleTask"
             android:screenOrientation="portrait"
             android:theme="@android:style/Theme.NoTitleBar" />
         <activity
             android:name="cn.xiaoneng.activity.ShowCameraActivity"
             android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation|layoutDirection|touchscreen|locale|mnc|mcc|fontScale"
             android:launchMode="singleTask"
             android:screenOrientation="portrait"
             android:theme="@style/MyDialogTopRight" >
         </activity>
         <activity
             android:name="cn.xiaoneng.activity.ShowAlbumActivity"
             android:screenOrientation="portrait"
             android:theme="@android:style/Theme.Translucent" >
         </activity>
         <activity
             android:name="cn.xiaoneng.activity.ValuationActivity"
             android:screenOrientation="portrait"
             android:theme="@style/valuationdialog" >
         </activity>
         <activity
             android:name="cn.xiaoneng.activity.ShowPictureActivity"
             android:launchMode="singleTask"
             android:screenOrientation="portrait"
             android:theme="@android:style/Theme.NoTitleBar" >
         </activity>
         <activity
             android:name="cn.xiaoneng.activity.XNExplorerActivity"
             android:launchMode="singleTask"
             android:screenOrientation="portrait"
             android:theme="@android:style/Theme.NoTitleBar" >
         </activity>
         <activity
             android:name="cn.xiaoneng.video.VideoPreviewActivity"
             android:screenOrientation="portrait"
             android:theme="@android:style/Theme.NoTitleBar" >
         </activity>
         <activity
             android:name="cn.xiaoneng.video.RecordVideoActivity"
             android:screenOrientation="portrait"
             android:theme="@android:style/Theme.NoTitleBar" >
         </activity>
         <activity
             android:name="cn.xiaoneng.video.XNVideoPlayer"
             android:screenOrientation="portrait"
             android:theme="@android:style/Theme.NoTitleBar" >
         </activity>-->

         <!-- ***************************小能SDK所需要Activity和Service ********************* -->



        <activity
            android:name="work.smoothly.com.smoothlyworking.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <!-- alipay sdk begin -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- alipay sdk end -->
        <receiver
            android:name=".receiver.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.yiqiao.cpmanager" />
            </intent-filter>
        </receiver>

        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="AK" />     <!--  //key:开发者申请的Key-->



        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="work.smoothly.com.smoothlyworking.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <meta-data
            android:value="57c52f9167e58e6c3d000213"
            android:name="UMENG_APPKEY"/>
        <meta-data
            android:value="${UMENG_CHANNEL_VALUE} ID"
            android:name="UMENG_CHANNEL"/>
    </application>

</manifest>